.Info figure {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}
.Info h2,
.Info h1 {
  color: #416460;
}

.Info img {
  top: -140px;
}
@media screen and (max-width: 640px) {
  .Info img {
    top: -110px;
  }
}
