@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: #fe1936;
  font-style: normal;
  font-weight: 700;
}
input {
  padding: 1rem 0rem 1rem 1rem;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
::placeholder {
  color: rgb(168, 161, 161);
}
button {
  padding: 1rem 0rem;
  border: none;
  background: #d93f3f;
  color: #fff;
}

.login {
  grid-template-columns: (3, 1fr);
  grid-auto-rows: calc(100vh / 3);
}
.login form {
  min-width: 60%;
}
@media screen and(max-width: 925px) {
  .login form {
    width: 70%;
  }
}

/*********************************************************/
.nav-pokedex {
  height: 8vw;
}
.nav-pokedex .rectangle {
  height: 3vw;
}
.nav-pokedex .img {
  padding-left: 3vw;
  padding-bottom: 1vw;
}
.img {
  position: absolute;
  z-index: 1;
}
.img img {
  width: 30%;
}

@media screen and (min-width: 960px) {
  .nav-pokedex .img {
    padding-bottom: 1.5vw;
  }
  .img img {
    width: 45%;
  }
}
b {
  color: #fe1936;
}
main {
  margin: 3vw 4vw;
}
/**************************************************************/
.inicio {
  margin: auto;
  max-width: 1200px;
}
.search-pokemon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-pokemon .search {
  width: 70%;
}
.search-pokemon .search input {
  width: 70%;
}
.search-pokemon .search button {
  width: 30%;
}
.search-pokemon select {
  width: 30%;
  margin-left: 2rem;
  padding: 0 0.5rem;
}
.list-pokemon {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 3rem;
}
.list-pokemon .card {
  margin: 1rem 0;
  width: 25%;
  display: flex;
  justify-content: center;
}
.card-pokemon {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 250px;
}
@media screen and (max-width: 1150px) {
  .list-pokemon .card {
    width: 33.3%;
  }
}
@media screen and (max-width: 875px) {
  .list-pokemon .card {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .list-pokemon .card {
    width: 100%;
  }
}

/* card */
.card .card-pokemon figure {
  text-align: center;
}
.card .card-pokemon {
  text-decoration: none;
}
.card span {
  color: gray;
  font-size: 0.7rem;
}
.card .card-pokemon figure img {
  position: relative;
  top: 35px;
}
.card .name-pokemon {
  margin-top: 2rem;
  text-align: center;
  border-bottom: 1px solid rgb(193, 193, 193);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.card .card-pokemon .stats {
  display: flex;
  justify-content: space-around;
}
.card .card-pokemon .stat {
  width: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.grass {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}
.card-grass {
  border: 10px solid #73c589;
  color: #416460;
}
.fire {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}
.card-fire {
  border: 10px solid #e6901e;
  color: #e75c35;
}
.water {
  background: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}
.card-water {
  border: 10px solid #82b2f1;
  color: #1479fb;
}
.bug {
  background: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}
.card-bug {
  border: 10px solid #c3dea3;
  color: #4ab648;
}
.normal {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}
.card-normal {
  border: 10px solid #ba707f;
  color: #735259;
}
.fighting {
  background: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}
.card-fighting {
  border: 10px solid #e95b36;
  color: #96402a;
}
.poison {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
}
.card-poison {
  border: 10px solid #c48ef9;
  color: #5b3184;
}
.ghost {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}
.card-ghost {
  border: 10px solid #5a61dd;
  color: #323569;
}
.rock {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}
.card-rock {
  border: 10px solid #b9b9ba;
  color: #7e7e7e;
}
.dark {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
}
.card-dark {
  border: 10px solid #4f4f4f;
  color: #030706;
}
.ice {
  background: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
}
.card-ice {
  border: 10px solid #c4ebfb;
  color: #6fbedf;
}
.steel {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}
.card-steel {
  border: 10px solid #9bb7ad;
  color: #5e736c;
}
.dragon {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}
.card-dragon {
  border: 10px solid #8dd6e0;
  color: #478a93;
}
.flying {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}
.card-flying {
  border: 10px solid #8dd6e0;
  color: #478a93;
}
.fairy {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}
.card-psychic {
  border: 10px solid #c5597e;
  color: #971b45;
}
.psychic {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}
.card-fairy {
  border: 10px solid #c5597e;
  color: #971b45;
}
.electric {
  background: linear-gradient(
    179.75deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
}
.card-electric {
  border: 10px solid #8e94fe;
  color: #0c1395;
}
.ground {
  background: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}
.card-ground {
  border: 10px solid #9c6614;
  color: #654008;
}

.pages {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.pages ul {
  list-style: none;
  display: flex;
}
.pages ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.pages ul li:hover {
  cursor: pointer;
}
.pages .next-pages {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #dd1a1a;
  border-radius: 6px;
  color: #fff;
}
@media screen and(min-width: 924px) {
  .pages ul li {
  }
  .pages .next-pages {
    width: 30px;
    height: 30px;
  }
}
